
body {
  background-color: #003153;
  color: #FAEBD7;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #696969;
  padding: 7px;
  gap: 8px;
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 15px;
  text-align: justify;
}
